@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-700-normal.woff')  format('woff'),
         url('../fonts/mmontserrat-700-normal.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-400-normal.woff')  format('woff'),
         url('../fonts/montserrat-400-normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-500-normal.woff')  format('woff'),
         url('../fonts/montserrat-500-normal.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-600-normal.woff')  format('woff'),
         url('../fonts/montserrat-600-normal.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;

}





