

body {
    font-family: 'Montserrat';
    margin: 0 auto;
    min-width: 320px;
    max-width: 1440px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px 60px 60px 45px;
}

.logo {
    height: 50px;
    width: 165px;
}

.model__item,
.menu__item {
    position: relaitive;
    color: #000;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
}

.model__item {
    margin-right: 40px;
}

 .model__item:last-child {
    margin-right: 0px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
     margin-right: 30px;
}

.burger-menu {
    width: 24px;
    height: 15px;
}


.model__item:hover, 
.model__item:active,
.active-link,
.menu__item:hover,
.menu__item:active {
    color: #E51937;
    text-decoration: none;
    border-bottom: 2px solid;
    border-color: #E51937;
 }

/*main section*/

.model-s {
   display: flex;
	flex-direction: column;
	align-items: center;
    position: relative;
}


.model-s__title {
    margin: 0;
    line-height: 1;
    font-size: 90px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.model-s__slogan {
    margin: 0;
    font-size: 15px;    
    font-weight: 500;
    line-height: normal;
    color: #000;
    text-align: center;
}

.tesla {
    position: absolute;
    max-width: 100%;
    width: 1514px;
    height: auto;
}

.model-s__car {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 968px;
    margin: 0 auto 28px;
}

.tesla-car {
    z-index: 1;
    align-self: center;
    max-width: 100%;
    height: auto;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
	font-size: 20px;
    margin: 0 0 38px 0;
}

.details__tech {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.details__tech_speed {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 82px;
}

.details__tech_route {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 105px;
}

.speed__icon {
	width: 46px;
    height: 35px;
    margin-right: 14px;
}

.distance__icon {
	width: 26px;
    height: 42px;
    margin-right: 11px;
}

.tesla-desc {
    display: flex;
    flex-direction: column;
}

.tesla-desc__title {
    font-size: 35px;
    font-weight: 600;
    line-height: 43px;
    margin: 0;
    padding: 0;
}

.tesla-desc__text {
    margin: 0;;
}

.small-text {
    font-size: 12px;
    margin: 0;
    padding: 0
}

.tesla-desc__title-small {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

button:active, button:focus {
    outline: none !important;
}
button::-moz-focus-inner {
    border: 0 !important;
}

.details__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.test-drive-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin-right: 33px
}
.test-drive-btn:hover {
    color: #E51937;
    cursor: pointer;
}

.test-drive-btn::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url("../img/steering-wheel.png") no-repeat;
    background-size: 100% 100%;
    margin-right: 7px;
}

.test-drive-btn:hover::before {
    background: url("../img/steering-wheel-red.png") no-repeat;
}

.order-btn {
    padding: 10px 42px;
    border: 2px solid;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: #E51937;
    cursor: pointer;
    text-transform: uppercase;
    border-color: #E51937;
    background-color: #fff;
}

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.down-btr {
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 0 auto 50px auto;
}

/*section specific*/

.specific {
    display: flex;
    flex-direction: row;
}

.specific-model {
    flex-basis: 70%;
    background: url("../img/2013-tesla-model-s-cockpit.png") no-repeat;
    background-size: cover;
}

.specific-model__title {
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    color: #E51937;
    padding-left: 80px;
}

.inner {
    flex-basis: 440px;
    background-color: #E51937;
}

.specific-drive {
    padding: 50px 50px 65px 60px;
    color: #fff;   
}


.specific-drive__title {
    font-weight: 600;
    font-size: 30px;
}

.specific-drive__text {
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 50px;
}

.tesla-display,
.tesla-wifi,
.tesla-bag {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
}

.tesla-display__icon {
    width: 35px;
    height: 55px;
    margin-right: 15px;
}

.specific-desc {
    display: flex;
    flex-direction: column;
}

.specific-desc__title {
    font-size: 35px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.specific-desc__title-small {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.tesla-wifi__icon {
    width: 45px;
    height: 35px;
    margin-right: 15px;
}

.tesla-bag__icon {
    width: 35px;
    height: 50px;
    margin-right: 15px;
}

.inner__btn {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 65px;
}

.btn-more {
    display: flex;
    align-items: center;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    border-color: #fff;
    background-color: #E51937; 
}

.btn-more::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url("../img/info-icon.png") no-repeat;
    background-size: 100%;
    margin-right: 5px;
}

.btn-more:hover {
    cursor: pointer;
}

.btn-order {
    padding: 8px 35px;
    border: 2px solid;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    border-color: #fff;
    background-color: #E51937; 
    text-transform: uppercase;
}

.btn-order:hover {
    color: #E51937;
    background: #fff;
    cursor: pointer;
}

/*section safety*/
.safety {
    display: flex;
}

.safety-specific {
    padding: 50px 50px 65px 60px;
    color: #fff;   
}

.safety-specific__title,
.safety-specific-rating__title {
    font-weight: 600;
    font-size: 30px;
}

.safety-specific__text {
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 50px;
}

.safety-specific-rating {
    margin-bottom: 100px;
}

.rating-category {
    display: flex;
    justify-content: space-between;
}

.rating-category {
    display: flex;
    justify-content: space-between;
}

.rating-category__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: #FFF;
    text-transform: uppercase;
    margin: 0 0 16px 0;
}

.rating-category__text-small {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #FFF;
    opacity: 0.7;
}

.safety-stars {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}

.safety-stars__icon {
    background: url(../img/Star.png) repeat-x;
    height: 25px;
    width: 125px;
    margin-right: 4px;
}

.safety-specific-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.safety-specific-stars__img {
    width: 65px;
    height: 75px;
    margin-right: 22px;
}

.safety-specific-stars__title {
    display: flex;
    flex-direction: column;
}

.safety-specific-stars__inc {
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
}

.safety-specific-stars__big-size {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.safety-model {
	display: flex;
	position: relative;
    background: url("../img/Model S.png") no-repeat 90% 15%;
    background-size: 70%;
}

.safety-model__img {
    position: relative;
    max-width: 100%;
    height: auto;
    right: 10%;
    top: 17%;
}

.madeinwhs {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


@media (min-width: 569px) and (max-width: 986px) {

    .header {
    	padding: 24px 30px 80px 15px;
    }

    .logo {
        width: 138px;
        height: 42px;
        margin: 0;
        padding-left: 10px;
    }

    .logo__img {
        width: 138px;
        height: 42px;
        margin: 0;
    }


    .model-s__slogan {
        margin-bottom: 85px;
    }

    .tesla {
        height: auto;
        top: 80px;
    }
    
    .tesla-car {
        margin-bottom: 22px;
    }
   
    
    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 63px 0;
    }
    
    .details__tech {
        display: flex;
        flex-direction: row;
        margin-bottom: 51px;
    }

    .details__btn {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    .tesla-desc__title {
    font-size: 50px;
    }
    
    .tesla-desc__text {
        padding: o;
        font-size: 12px;  
    }

    .speed__icon {
        width: 65.92px;
        height: 48.91px;
    }
    
    .distance__icon {
        width: 37.83px;
        height: 60.72px;
    }
  
    .details__tech_speed {
        margin-right: 60px;
    }

    .details__tech_route {
        margin-right: 0px;
    }

    .order-btn {
        padding: 16px 65px;
        border: 2px solid;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        color: #fff;
        border-color: #E51937;
        background-color: #E51937;
    }

    .test-drive-btn {
        margin: 0;
        padding: 0 34px 0 0;
        color: #E51937;
        font-size: 16px;
        cursor: pointer;
    }

    .test-drive-btn:before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background: url("../img/steering-wheel-red.png") no-repeat;
        background-size: 100% 100%;
    }


	.model {
		display: none;
	}

	.menu__item {
		display: none;
    }

	/*section specific*/

    .specific {
    	flex-direction: column;
    }

    .specific-model {
        min-height: 600px;
    }

    .specific-model__title {
        text-align: right;
        padding-right: 60px;
        margin: 0;
    }

    .specific-drive {
        display: flex;
        justify-content: space-around;
        padding: 55px 40px;
    }

    .specific-drive__wrap {
        flex-basis: 45%;
        padding-right: 50px;
    }

    .specific-drive__title {
        margin: 0;
    }

    .specific-drive__text {
        margin-bottom: 0;
    }

    .specific-drive__item {
        padding-right: 30px;
    }

    .tesla-display,
    .tesla-wifi,
    .tesla-bag {
        margin-bottom: 20px;
    }

    .inner__btn {
    justify-content: center;
    margin-bottom: 50px;
    }

    .btn-more {
        font-size: 16px;
        padding-right: 35px;
    }

    .btn-order {
        font-size: 16px;
    }

    /*section safety*/

    .safety {
    	flex-direction: column-reverse;
    }

    .safety-model {
        background-position-x: 50%;
        background-size: 80%;
        margin-bottom: 60px;
    }

    .safety-model__img {
        right: 0;
        top: 15%;
    }
    .safety-specific-stars {
        display: none;
    }

    .safety-specific__wrap {
    	flex-basis: 50%;
        padding-right: 50px;
    }

    .safety-specific__title {
        margin: 0;
    }

    .madeinwhs {
        display: none;
    }

    .safety-specific {
        display: flex;
        justify-content: space-around;
        padding: 55px 40px;
    }


    .safety-specific-rating__title {
        margin-top: 0;
    }

    .safety-specific__text {
        margin-bottom: 0;
    }

    .safety-specific-rating {
        margin-bottom: 0;
    }
}


    @media (min-width: 320px) and (max-width: 568px) {
    
    .header {
    	padding: 5px 20px 30px 5px;
    } 

    .logo {
        width: 138px;
        height: 42px;
        margin: 0;
        padding: 0;
    }

    .logo__img {
        width: 138px;
        height: 42px;
        margin: 0;
    }

    .model-s__title {
    	font-size: 50px;
    }
    .model-s__slogan {
    	font-size: 10px;
        margin-bottom: 50px;
    }

    .tesla {
        height: auto;
        top: 80px;
    }
    
    .tesla-car {
        margin-bottom: 20px;
    }
   
    
    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 34px 0;
    }
    
    .details__tech {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
    }

    .details__btn {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    .tesla-desc__title {
        font-size: 27px;
        line-height: 1;
    }
    
    .tesla-desc__title-small {
        font-size: 15px;
        line-height: 1;
    }


    
    .tesla-desc__text {
        padding: o;
        font-size: 12px;  
    }

    .speed__icon {
        width: 38px;
        height: 28px;
    }
    
    .distance__icon {
        width: 22px;
        height: 35px;
    }
  
    .details__tech_speed {
        margin-right: 41px;
    }

    .details__tech_route {
        margin-right: 0px;
    }

    .order-btn {
        padding: 8px 35px;
        border: 2px solid;
        text-decoration: none;
        font-weight: bold;
        font-size: 13px;
        color: #fff;
        border-color: #E51937;
        background-color: #E51937;
    }

    .test-drive-btn {
        margin: 0;
        padding: 0 25px 0 0;
        color: #E51937;
        font-size: 13px;
        cursor: pointer;
    }

    .test-drive-btn:before {
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        background: url("../img/steering-wheel-red.png") no-repeat;
        background-size: 100% 100%;
    }

    .down-btr {
        margin: 0 auto;
    }

	.model {
		display: none;
	}

	.menu__item {
		display: none;
    }
    
    /*section specific*/

    .specific {
    	flex-direction: column;
    }

    .specific-model {
        min-height: 330px;
    }

    .specific-model__title {
        display: none;
    }
    
    .inner {
        flex-basis: auto;
    }

    .specific-drive {
        padding: 20px 42px 35px 42px;
    }


    .specific-drive__title {
        margin: 0;
    }

    .specific-drive__text {
        margin-bottom: 0;
    }

    .specific-drive__item {
        display: none;
    }

    .inner__btn {
        display: none;
    }

 

    /*section safety*/

    .safety {
    	flex-direction: column-reverse;
    }

    .safety-model {
        background-position-x: 50%;
        background-size: 100%;
        margin-bottom: 60px;
    }

    .safety-model__img {
        right: 0;
        top: 15%;
    }
    .safety-specific-stars {
        display: none;
    }

    .safety-specific__wrap {
        padding-right: 70px;;
    }

    .safety-specific__title {
        margin: 0;
    }

    .safety-specific-rating {
        display: none;
    }

    .madeinwhs {
        display: none;
    }

    .safety-specific {
        padding: 20px 42px 35px 42px;
    }

    .safety-specific__wrap {
        padding-right: 0;
    }


    .safety-specific__text {
        margin-bottom: 0;
    }

    .safety-specific-rating {
        margin-bottom: 0;
    }

	}
